In [1]:
"""use of for and while loop
for loop is used to repetative tasks or for accessing element of list,tuple,string,set,dict or to a task for
given range."""

'use of for and while loop\nfor loop is used to repetative tasks or for accessing element of list,tuple,string,set,dict or to a task for\ngiven range.'

In [2]:
l=[2,4,5,2,7]

In [3]:
for i in l:
    print(f'square of {i} is {i*i}')

square of 2 is 4
square of 4 is 16
square of 5 is 25
square of 2 is 4
square of 7 is 49

In [4]:
"while loop is also used for repetative task until condition inside while loop is false"""

'while loop is also used for repetative task until condition inside while loop is false'

In [9]:
j=0
while j<10:
    print(f'square of {j} is {j*j}')
    j+=1

square of 0 is 0
square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81

In [12]:
sum=0
product=1
for i in range(1,11):
    sum+=i
    product*=i
print(f'sum of first 10 natural numbers is {sum}')
print(f'product of first 10 natural numbers is {product}')

sum of first 10 natural numbers is 55
product of first 10 natural numbers is 3628800

In [13]:
i=1
sum=0
product=1
while i<11:
    sum+=i
    product*=i
    i+=1
print(f'sum of first 10 natural numbers is {sum}')
print(f'product of first 10 natural numbers is {product}')

sum of first 10 natural numbers is 55
product of first 10 natural numbers is 3628800

In [14]:
units=input("please enter electricity units")

please enter electricity units 234

In [22]:
###units=input("please enter electricity units")
electricity_bill=0
if units < 101:
    electricity_bill=units*4.5
elif units < 201:
    electricity_bill=(100*4.5)+(units-100*6)
elif units < 301:
    electricity_bill=(100*4.5)+(100*6)+(units-200*10)
else:
    electricity_bill=(100*4.5)+(100*6)+(100*10)+((units-300)*20)
    
print(f'electricity bill for month is {electricity_bill} ')

electricity bill for month is 2250.0

In [16]:
units=310

In [20]:
units

310

In [25]:
l=list(range(0,101))

In [24]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [26]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [28]:
l=list(range(1,101))
for i in range(1,101):
    cube=i**3
    if cube%4==0 or cube%5==0:
        l.append(cube)
        
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [29]:
l=list(range(1,101))
i=1
while i < 101:
    cube=i**3
    if cube%4==0 or cube%5==0:
        l.append(cube)
    i+=1
        
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [30]:
string = "I want to become a data scientist"

In [31]:
string.lower()

'i want to become a data scientist'

In [32]:
string

'I want to become a data scientist'

In [33]:
string=string.lower()

In [34]:
string

'i want to become a data scientist'

In [36]:
l=string.split()

In [37]:
l

['i', 'want', 'to', 'become', 'a', 'data', 'scientist']

In [42]:
string = "I want to become a data scientist"
string=string.lower()
count=0
for i in string:
    if i in ('a','e','i','o','u'):
        count+=1
print(count)

12